@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Karla|PT+Sans+Narrow);


body{
  background-color: #e0e0e0;
  line-height: 1.5;
  font-size: 14px;
  font-family: "Sans Narrow", sans-serif;
}

#container{
  width: 830px;
  margin: 0 auto;
}

#journalism img {
  float: right;
  margin-left: 40px;
  width: 370px;
}

#journalism blockquote {
  margin: 0;
  margin-top: 40px;
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
  line-height: 2;
}

#journalism blockquote p:last-child {
  float: right;
  font-style: italic;
  font-size: 18px;
}

#journalism p{
  text-indent: 0;
}

#anchor-desk img{
  margin-top: 50px;
}

#about-me{
  font-size: 15px;
  font-family: "Sans Narrow", sans-serif;
  padding-top: 50px;
  line-height: 2;
}

header h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  color: rgb(0,0,0);
  text-align: center;
}

nav ul{
  padding-left: 0;
  margin:0 auto;
  list-style: none;
  font-size: 20px;
  border-bottom: 5px solid #FF8C00;
  text-align: center;
  width: 830px;
}

nav li{
  display: inline-block;
  margin-right: 30px;
}

a{
  color: rgb(0,0,0);
}

a:active{
  color: black;
}

a:visited{
  color: #FF8C00;
}

a:hover{
  color: #008000;
}

main{
  width: 830px;
  overflow: auto;
}

img{
  border-width: 15px;
  border-style: solid;
  border-color: #FF8C00;
  position: relative;
  margin: 0 auto;
}

#left-container{
  float:left;
  width:400px;
}

#right-container{
  float:right;
  width: 400px;
}

h2{
  border-bottom: 5px solid #FF8C00;
}

p{
  margin: 0px;
  padding-left: 0px;
  text-indent: 10px;
}

article{
  margin-bottom: 30px;
}

#container-art{
  width: 830px;
  margin: 0 auto;
}

#left-container-art{
  float: left;
    width:552px;
}

#left-art{
  float: left;
  width:270px;
}

#center-art,
#right-art{
  float: right;
    width:270px;
}

#center-art{
  margin-left: 10px;
  width:270px
}

#images{
  width: 100px;
}
